<div class="sidebar-container">
  <div class="title">Taskmate</div>
  <div class="actions">
    <div class="user">
      <!-- <img
        ngSrc="https://ui-avatars.com/api/?name=Srikanth+Jeeva?rounded=true?background=random"
        width="35"
        height="35"
        class="rounded-5"
      /> -->
      <div class="user-details">
        <div class="name">Srikanth Jeeva</div>
        <div class="email">srikanth&#64;gmail.com</div>
      </div>
    </div>
    <ul class="menus-list">
      <li routerLink="/dashboard" routerLinkActive="active-link">Dashboard</li>
      <li routerLink="/task" routerLinkActive="active-link">Tasks</li>
      <li>Account</li>
    </ul>
  </div>
</div>
