<div class="conatiner-fluid p-3">
  <h3>Update Task</h3>
  <form class="mt-5 px-4">
    <div class="form-group w-25">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="titleHelp"
        placeholder="Enter Title"
      />
      <!-- <small id="titleHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      > -->
    </div>
    <div class="form-group w-75 d-flex flex-column mt-3">
      <label for="title">Description</label>
      <textarea
        name="description"
        id="description"
        cols="50"
        rows="10"
        class="p-2"
        placeholder="Enter Task Description"
      ></textarea>
      <!-- <small id="titleHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      > -->
    </div>
  </form>
</div>
